.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :code_type
  =f.error_message_on :code_type
  =f.text_field :code_type, :class => :text_field
  %span.description Ex: 'sql' or 'ruby'

.group
  =f.label :code
  =f.error_message_on :code
  =f.text_area :code, :class => :text_area
  %span.description Ex: a simple text

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:reports, :index)}';return false", :class => :button
