.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :sql_code
  =f.error_message_on :sql_code
  =f.text_area :sql_code, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :ruby_code
  =f.error_message_on :ruby_code
  =f.text_area :ruby_code, :class => :text_area
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:reports, :index)}';return false", :class => :button