.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:reports, :index)
      %li=link_to pat(:new), url(:reports, :new)
      %li=link_to pat(:edit), url(:reports, :edit, :id => @report.id)
      %li.active=link_to pat(:show), url(:reports, :show, :id => @report.id)
  .content
    %h2.title= @report.name
    -unless @report.empty?
      .inner
        %table.table
          %tr
            - @report.columns.each do |col|
              %th=h col
          - @report.rows.each do |row|
            %tr
              - @report.columns.each do |col|
                %td=h row[col]

-content_for :sidebar, partial("base/sidebar")
